@tailwind base;
@tailwind components;
@tailwind utilities;

font-face{
    font-family: 'OverpassBold';
    src: url('@/assets/Overpass-Bold.ttf');
}
font-face{
    font-family: 'OverpassRegular';
    src: url('@/assets/Overpass-Regular.ttf');
}